# This file is used for Git repositories to specify intentionally untracked files that Git should ignore. 
# If you are not using git, you can delete this file. For more information see: https://git-scm.com/docs/gitignore
# For useful gitignore templates see: https://github.com/github/gitignore

# Salesforce cache
.sf/
.sfdx/
.localdevserver/
deploy-options.json

# LWC VSCode autocomplete
**/lwc/jsconfig.json

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
certificates/

# LWC Jest coverage reports
coverage/

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Eslint cache
.eslintcache

# MacOS system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Windows system files
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python Salesforce Functions
**/__pycache__/
**/.venv/
**/venv/

# Temporary folders
tmp/
temp/

# IDE files
.idea/
.vscode/*
!.vscode/settings.json
*.swp
*.swo
*~
private_key.pem
script

# Build outputs
dist/
build/

# Hardis Stuff
hardis-report
config/user

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
